* {
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
}

table {
	margin: auto;
	margin-top: 10%;
}

.cell {
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 1.5em;
	border: 1px white solid;
	margin: 0;
}

.cell:hover {
	background-color: rgb(120, 120, 120);
}

.cell-content {
	visibility: hidden;
}

.counter {
	margin-top: 10%;
	margin-left: 10%;
}

.level-container {
	text-align: center;
}

.level {
	margin-left: 5%;
	margin-right: 8%;
	border-bottom: 1px solid white;
}

.level:active {
	color: green;
}
