* {
	font-family: 'Koulen', cursive;
}

body {
	background-color: rgb(23, 23, 23);
	color: rgb(233, 233, 233);
}

table {
	margin: auto;
}

.cell {
	width: 60px;
	height: 60px;
	text-align: center;
	font-size: 2em;
	border: 1px rgb(233, 233, 233) solid;
}

.cell:hover {
	background-color: rgb(120, 120, 120);
}

.ui-container-left {
	position: absolute;
}
.ui-container-right {
	position: absolute;
	right: 1%;
	margin-top: 2%;
}
.cell-content {
	visibility: hidden;
}

.counter-container {
	font-size: 1.5em;
}
.counter {
	margin-top: 1%;
	margin-left: 3%;
}

.level-container {
	text-align: center;
	font-size: 1.3em;
	margin: auto;
}

.level {
	margin-left: 5%;
	margin-right: 8%;
	border-bottom: 1px solid rgb(233, 233, 233);
}

.level:active {
	color: green;
}

.smiley-container {
	text-align: center;
	margin-top: 3%;
	margin-bottom: 3%;
}
.smiley:hover {
	background-color: rgb(35, 35, 35);
}

.smiley {
	padding: 5px;
	border: 1px solid rgb(233, 233, 233);
	font-size: 2em;
}

.life-container {
	font-size: 1.5em;
}

.cell.clicked-cell {
	background-color: rgb(175, 175, 175);
}

.hint-container {
	font-size: 1.8em;
	margin-right: 0;
	display: inline;
}
.hint-1:hover {
	filter: brightness(1.5);
}
.hint-2:hover {
	filter: brightness(1.5);
}
.hint-3:hover {
	filter: brightness(1.5);
}

.hint-clicked {
	text-shadow: 2px 2px;
	filter: brightness(1.5);
}
.safe-click {
	font-size: 1.2em;
	padding: 4px;
	border: 1px solid rgb(233, 233, 233);
}

.safe-click:hover {
	background-color: rgb(51, 51, 51);
}
.safe-click:hover ~ .safe-click-count {
	visibility: visible;
}
.safe-click:active {
	color: green;
	border-style: groove;
	background-color: rgb(23, 23, 23);
}
.safe-click-count {
	visibility: hidden;
	font-size: 0.75em;
}
.modal {
	font-size: 100px;
	position: absolute;
	left: 30%;
	color: yellowgreen;
	display: none;
	transition: 0.4s;
}
.best-score {
	position: absolute;
	bottom: 0;
	font-size: 1.2em;
}
.safe-cell {
	background-color: gold;
}
footer {
	position: absolute;
	bottom: 0;
	right: 0.5%;
	color: rgb(112, 112, 112);
}
