* {
	box-sizing: border-box;
	font-family: 'Koulen', cursive;
}

body {
	background-color: rgb(23, 23, 23);
	color: rgb(233, 233, 233);
}

table {
	margin: auto;
	margin-top: 4%;
}

.cell {
	width: 60px;
	height: 60px;
	text-align: center;
	font-size: 2em;
	border: 1px rgb(233, 233, 233) solid;
	margin: 0;
}

.cell:hover {
	background-color: rgb(120, 120, 120);
}

.ui-container {
	position: absolute;
	/* top: 10%; */
}

.cell-content {
	visibility: hidden;
}

.counter-container {
	font-size: 1.5em;
}
.counter {
	margin-top: 1%;
	margin-left: 2%;
}

.level-container {
	text-align: center;
	font-size: 1.3em;
	margin: auto;
}

.level {
	margin-left: 5%;
	margin-right: 8%;
	border-bottom: 1px solid rgb(233, 233, 233);
}

.level:active {
	color: green;
}

.smiley-container {
	text-align: center;
	margin-top: 3%;
}

.smiley {
	padding: 5px;
	border: 1px solid rgb(233, 233, 233);
	font-size: 2em;
}

.life-container {
	font-size: 1.5em;
}

.cell.clicked-cell {
	background-color: rgb(175, 175, 175);
}

.hint-container {
	font-size: 1.8em;
	margin-right: 0;
	display: inline;
}

.hint-clicked {
	text-shadow: 2px 2px;
	filter: brightness(1.5);
}

.modal {
	font-size: 100px;
	position: absolute;
	left: 30%;
	color: yellowgreen;
	display: none;
	transition: 0.4s;
}

footer {
	margin-top: 5%;
	color: rgb(112, 112, 112);
}
